.about {
  min-height: 80vh;
  background-color: $pale-mauve;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  &__heading {
    max-width: 100%;
    margin: 0;
    text-transform: uppercase;
  }
  &__description {
    max-width: 70%;
    margin: 20px 0;
  }
  &__button {
    @include button-def(uppercase, $white, $plum-purple, 5px 15px, none);
  }
  &__button:hover, &__button:focus {
    background-color: $orange;
    cursor: pointer;
  }
}

