.favorite-seller {
  min-height: 50vh;
  margin-top: 70px;
}

.favorite {
  display: grid;
  gap: 0 60px;
  margin-top: 60px;
  grid-template-areas: 
    "favorite__img favorite__content";
  &__img {
    grid-area: favorite__img;
    width: 304px;
    height: 304px;
    position: relative;
    figure {
      position: absolute;
      top: -15px;
      box-shadow: 18px 18px 0 0 orange;
    }
  }
  &__content {
    grid-area: favorite__content;
    display: grid;
    grid-template-rows: 20% 60% auto;
    h3 { font-size: 2.5rem; }
    p { font-size: 1.5rem; }
    button { 
      width: 130px; height: 25px; align-self: flex-end; font-size: 1.5rem;
    }
  }

}