.favorite-seller {
  min-height: 50vh;
  margin: 0;
}

.favorite {
  display: grid;
  gap: 0 60px;
  margin-top: 20px;
  grid-template-areas: 
    "favorite__img favorite__content";
  &__img {
    grid-area: favorite__img;
    width: 304px;
    height: 304px;
    position: relative;
    figure {
      position: absolute;
      top: 50px;
      box-shadow: 25px 25px 0 0 $orange;
    }
  }
  &__content {
    grid-area: favorite__content;
    display: grid;
    grid-template-rows: 26% 54% 10%;
    button {
      @include button-def(uppercase, $white, $brown-red, 5px 15px, none);
      width: 200px; height: 42px;
    }
    button:hover, button:focus {
      background-color: $orange;
      cursor: pointer;
    }
  }
}