// Defining my variables
$black: #0D0D0D;
$brown-red: #882C07;
$plum-purple: #4C0341;
$pale-mauve: #FAE5FF;
$orange: #ff8800;
$white: #FFFFFF;

@mixin button-def ($btn-transform, $btn-color, $btn-bgd-color, $btn-padding, $btn-border) {
  text-transform: $btn-transform;
  color: $btn-color;
  background-color: $btn-bgd-color;
  padding: $btn-padding;
  border: $btn-border;
}

html {
  font-size: 62.5%;
}

.wrapper {
  max-width: 1240px;
  width: 85%;
  margin: 0 auto;
}
